@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin:5rem 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 16rem));
  gap: 5rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #87888a;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

}

 img{
    object-fit: cover;
    width: 100%;
    height: 14rem;
 }

  .card_title{
    padding: 1rem;
  }

  .card_description{
    padding: 0 1rem;
  }

  .card_btn{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  .card:hover {
    transform: scale(1.02);
  }

  .card:hover .card_btn{
    background: #d50000;
    color: white;
  }
